*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Arimo", sans-serif;
  color: #9b9898;
  font-size: 1.4rem;
  font-weight: 400; }

.title {
  color: #2a2838;
  font-weight: 700; }

.slogan {
  color: #fff;
  font-size: 13rem;
  font-weight: 700; }

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 99.5vh;
  width: 99.5vw;
  margin: 0 auto; }

.sidebar {
  flex: 0 1 25%;
  display: grid;
  grid-template-rows: 5rem 5rem 1fr 15rem;
  grid-template-columns: 3rem 1fr 5rem;
  align-items: end; }
  .sidebar__menu {
    grid-column: 2/3; }
  .sidebar__btn-box {
    grid-column: 2/3;
    display: grid; }
  .sidebar__content {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: min-content 1fr min-content 4rem;
    grid-row-gap: 3rem;
    align-items: end; }
  .sidebar__add {
    grid-row: 4 / -1;
    grid-column: 1 / -1; }

.main-page {
  background-color: #f7e4df;
  display: grid;
  grid-template-rows: 5rem 1fr 15rem;
  grid-template-columns: 10rem 1fr max-content;
  align-items: end; }
  .main-page__nav {
    grid-row: 1 / 2;
    grid-column: 3 / 4; }
  .main-page__image {
    grid-row: 1/ -1;
    grid-column: 2 / -1; }
  .main-page__slogan {
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    align-self: start;
    margin-top: 2rem; }
  .main-page__carousel {
    grid-row: 3/-1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
    .main-page__carousel--info {
      grid-row: 1 / 2; }
    .main-page__carousel--bar {
      grid-row: 2 /3; }

.cart {
  background-color: #d9eaf9;
  display: grid;
  grid-template-rows: 5rem max-content 1fr 15rem 12rem;
  grid-template-columns: 10rem 1fr max-content; }
  .cart__nav {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    align-self: end; }
  .cart__title {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
  .cart__detail {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
  .cart__summary {
    grid-row: 4/ 5;
    grid-column: 2 / 3;
    justify-self: end;
    display: flex;
    align-items: flex-start; }
  .cart__btn {
    grid-row: 5 / -1;
    grid-column: 2 / 3;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center; }

.sidebar__btn {
  outline: none;
  border: none;
  background: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center; }
  .sidebar__btn--previous {
    grid-column: 1/ 2; }
  .sidebar__btn--next {
    grid-column: 2/ 3; }
  .sidebar__btn--previous::before, .sidebar__btn--next::after {
    content: '';
    width: 2rem;
    height: 1px;
    background-color: #000;
    display: block;
    margin: 0 1rem; }
  .sidebar__btn--previous::before {
    visibility: hidden; }

.sidebar__title {
  font-size: 1.6rem; }

.sidebar__size {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #d9eaf9;
  cursor: pointer; }
  .sidebar__size--active {
    border: none;
    background-color: #d9eaf9;
    color: #68849e; }

.sidebar__price {
  margin-bottom: 1.5rem; }

.sidebar__add {
  height: 80%;
  background-color: #2a2838;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-weight: 700; }

.main-page__image {
  justify-self: end;
  height: 52em; }
  .main-page__image img {
    display: block;
    max-height: 100%; }

.main-page__nav {
  display: flex;
  justify-content: space-between;
  z-index: 1000; }
  .main-page__nav button {
    margin-right: 3rem;
    margin-left: 2rem;
    border: none;
    outline: none;
    background-color: #f7e4df;
    cursor: pointer; }

.main-page__carousel {
  height: 80%;
  width: 300%;
  padding: 0 5rem; }
  .main-page__carousel--info {
    display: flex;
    justify-content: space-between; }
  .main-page__carousel--divider {
    width: 2px;
    height: 3rem;
    background-color: #9b9898; }
  .main-page__carousel--bar {
    width: 300%;
    height: 2px;
    background-color: #9b9898; }
  .main-page__carousel--bar-current {
    width: 33.3%;
    height: 2px;
    background-color: #2a2838; }

.cart__nav {
  display: flex;
  justify-content: space-between;
  z-index: 1000; }
  .cart__nav button {
    margin-right: 3rem;
    margin-left: 2rem;
    border: none;
    outline: none;
    background-color: #d9eaf9;
    cursor: pointer; }

.cart__title {
  font-size: 7rem;
  margin: 3rem 0;
  color: #fff; }

.cart__detail {
  border-bottom: 1px solid #9b9898;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2rem;
  grid-template-rows: 5rem auto;
  justify-items: start; }
  .cart__detail small {
    padding: 0 0.5rem; }
  .cart__detail--title {
    grid-row: 1 / 2;
    text-transform: uppercase; }
  .cart__detail--images {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .cart__detail--images img {
      display: block;
      height: 5rem;
      width: 5rem;
      border-radius: 50%; }
  .cart__detail--desc {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .cart__detail--size {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .cart__detail--unit {
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .cart__detail--aumount {
    grid-column: 5 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .cart__detail--remove {
    grid-column: 6 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

.cart__summary {
  margin-top: 1.5rem;
  grid-row: 4/ 5;
  grid-column: 2 / 3;
  justify-self: end; }
  .cart__summary--price {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.cart__btn button {
  outline: none;
  border: none;
  text-align: center;
  padding: 2rem 4rem; }

.cart__btn--shop {
  cursor: pointer;
  background-color: #d9eaf9;
  color: #9b9898; }

.cart__btn--checkout {
  background-color: #2a2838;
  color: #fff;
  font-weight: 700;
  padding: 2rem 4rem; }
