// COLORS
$color-primary: #d9eaf9;
$color-primary-dark-1: #68849e;
$color-primary-dark-2: #2a2838;

$color-secondary: #f7e4df;
$color-secondary-dark-1: #dbb3ae;
$color-secondary-dark-2: #a6867d;

$color-grey-light-1: #fefefe;
$color-grey-light-2: #d8d7dc;

$color-grey-dark-1: #9b9898;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Arimo', sans-serif;
$default-font-size: 1.6rem;
