.cart {
  &__nav {
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    button {
      margin-right: 3rem;
      margin-left: 2rem;
      border: none;
      outline: none;
      background-color: $color-primary;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 7rem;
    margin: 3rem 0;
    color: #fff;
  }

  &__detail {
    border-bottom: 1px solid $color-grey-dark-1;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 2rem;
    grid-template-rows: 5rem auto;

    justify-items: start;

    small {
      padding: 0 0.5rem;
    }
    &--title {
      grid-row: 1 / 2;
      text-transform: uppercase;
    }

    &--images {
      grid-column: 1 / 2;

      @include flexColumnSpaceAround;
      img {
        display: block;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
      }
    }

    &--desc {
      grid-column: 2 / 3;
      @include flexColumnSpaceAround;
    }

    &--size {
      grid-column: 3 / 4;
      @include flexColumnSpaceAround;
    }

    &--unit {
      grid-column: 4 / 5;
      @include flexColumnSpaceAround;
    }

    &--aumount {
      grid-column: 5 / 6;
      @include flexColumnSpaceAround;
    }

    &--remove {
      grid-column: 6 / -1;
      @include flexColumnSpaceAround;
    }
  }

  &__summary {
    margin-top: 1.5rem;
    grid-row: 4/ 5;
    grid-column: 2 / 3;
    justify-self: end;

    &--price {
      margin-left: 5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__btn {
    button {
      outline: none;
      border: none;
      text-align: center;
      padding: 2rem 4rem;
    }
    &--shop {
      cursor: pointer;
      background-color: $color-primary;
      color: $color-grey-dark-1;
    }

    &--checkout {
      background-color: $color-primary-dark-2;
      color: #fff;
      font-weight: 700;
      padding: 2rem 4rem;
    }
  }
}
