.main-page {
  &__image {
    position: relative;
    justify-self: end;
    height: 100%;

    img {
      position: absolute;
      display: block;
      max-height: 100%;
      top: 0;
      left: -50rem;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    button {
      margin-right: 3rem;
      margin-left: 2rem;
      border: none;
      outline: none;
      background-color: $color-secondary;
      cursor: pointer;
    }

    &--cart {
      display: grid;
    }
  }

  &__carousel {
    height: 80%;
    width: 300%;
    padding: 0 5rem;

    &--info {
      display: flex;
      justify-content: space-between;
    }

    &--divider {
      width: 2px;
      height: 3rem;
      background-color: $color-grey-dark-1;
    }

    &--bar {
      width: 300%;
      height: 2px;
      background-color: $color-grey-dark-1;
    }

    &--bar-current {
      width: 33.3%;
      height: 2px;
      background-color: $color-primary-dark-2;
    }
  }
}
